::ng-deep {
  .cdk-overlay-pane {
    width: 300px !important;
    margin-left: -45px !important;

    .auto-complete-container {
      display: grid !important;
      gap: 10px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
      max-height: initial !important;

      > mat-option {
        background: #1d252c !important;
        border-radius: 15px !important;
        min-height: 58px !important;

        > .mdc-list-item__primary-text {
          > .text-content {
            > .title {
            }

            > .content {
            }
          }

          > .image-content {
          }
        }
      }
    }
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  height: 80px;

  .rightPartLinks {
    margin-left: 20px;

    a {
      color: white;
      margin-right: 5px;
    }

    .headerLink {
      font-size: x-large;
      margin-left: 15px;
    }

    .logo {
      font-size: xx-large;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  }

  .LeftPartLinks {
    display: flex;
    margin-right: 50px;

    .input-container {
      display: flex;
      margin-right: 10px;
      background-color: rgb(44, 44, 57);
      border-radius: 10px;
      height: 35px;
      width: 300px;
      .search-icon,
      .search-input {
        color: rgb(183, 182, 182);
        transform: scale(0.9);
        background-color: rgb(44, 44, 57);
        align-self: center;
      }
      .search-icon {
        padding: 5px;
      }
      .search-input {
        width: 300px;
        font-size: 1rem;
        &::placeholder {
          color: rgb(183, 182, 182);
          text-align: left;
        }
      }
      input {
        all: unset;
      }
    }

    .profile {
      color: #ffffff;
      transform: scale(1.4);
    }
  }

  // Media Query for mobile devices
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 20px;

    .rightPartLinks {
      margin: 0;
      .headerLink {
        margin: 0;
      }
    }
    .LeftPartLinks {
      margin: 0;

      a,
      .search,
      .profile {
        margin-right: 10px; // reduce margin for smaller screens
      }
    }
  }
}
