<div class="container">
  <div class="rightPartLinks">
    <a class="logo" [routerLink]="'/home'">MyShows</a>
    <a class="headerLink" routerLink="routeName">Trending</a>
    <a class="headerLink" routerLink="routeName">Anime</a>
    <a class="headerLink" routerLink="routeName">Top Imbd</a>
  </div>
  <div class="LeftPartLinks">
    <app-autocomplete
      [formControl]="searchText"
      [items]="autoCompleteItems$ | async"
      (optionClick)="onAutoCompleteOptionClick($event)"
    ></app-autocomplete>
    <button
      class="profile"
      aria-label="profile"
      mat-raised-button
      (click)="openDialog()"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
