<div class="container">
  <div class="rightPartLinks">
    <a class="logo" [routerLink]="'/home'">MyShows</a>
    <a class="headerLink" routerLink="routeName">Trending</a>
    <a class="headerLink" routerLink="routeName">Anime</a>
    <a class="headerLink" routerLink="routeName">Top Imbd</a>
  </div>
  <div class="LeftPartLinks">
    <div class="input-container">
      <mat-icon class="search-icon">search</mat-icon>
      <input
        [formControl]="searchText"
        class="search-input"
        placeholder="Search"
        aria-label="search"
      />
    </div>
    <button class="profile" aria-label="profile">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>

<div *ngFor="let show of foundShows$ | async" style="color: #fff">
  {{ show.name }}
</div>
