.container {
  display: flex;
  flex-direction: row;
  background-color: #2d2d2d;
  height: 400px;
  width: 1200px;
  margin: auto;
  position: relative;
  margin-top: 20px;

  .ratings {
    background-color: #636464;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top-right-radius: 0;
    color: aliceblue;
  }
  .text-content {
    margin: 30px 30px 30px 20px;
    color: aliceblue;
  }
  .seasons {
    color: aliceblue;
    position: absolute;
    right: 0;
    bottom: 0;
    right: 100px;
  }
}
.list-container-wrapper {
  display: grid;
  place-items: center;
}
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  max-width: 1240px;

  .list-item {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #312e2e;
    padding: 10px;
    border-radius: 2px;

    .top-episode {
      color: aliceblue;
      font-size: 0.99rem;
      display: flex;
      flex-direction: row;
      .left {
        margin-top: 3px;
      }
      .right {
        transform: scale(0.85);
      }
    }
    .bot-episode {
      color: rgb(183, 188, 193);
      margin-left: 3px;
    }
  }
  .list-item:hover {
    background-color: #676c6f;
  }
}
