<div class="container">
  <div class="rightPartLinks">
    <a routerLink="routeName">Link</a>
    <a routerLink="routeName">Link</a>
    <a routerLink="routeName">Link</a>
    <a routerLink="routeName">Link</a>
    <a routerLink="routeName">Link</a>
  </div>
  <div class="LeftPartLinks">
    <button class="search" aria-label="search">
      <mat-icon>search</mat-icon>
    </button>
    <button class="profile" aria-label="profile">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
